/*
DISENY TAULETES ADAPTAT MOBIL
*/
@media (max-height: 600px){
    .footer{
        display: none;
    }
}
@media (max-width: 650px){
    #navegador{
        display: none;
    }
    #main h2{
     font-size: 15px!important;
    }
    #main li{
        font-size: 1em!important;
    }
    .editListButton{
        font-size: 10px!important;
        right: 20px !important;
    }
    .delButtonList{
        margin-left: 10px!important;
        font-size: 1em !important;
        width: 10px!important;
        height: 10px!important;
        border-radius: 8px!important;
    }
    #lateral h3{
        font-size: 15px!important;
    }
}
@media(max-width: 750px){
    #navegador{
        width: 69% !important;
        float: right!important;
    }
   #gearImage{
        width: 30px!important;
        height: 30px!important;
    }

    .toolSpace h4{
        font-size:15px !important;
    }
    .delButtonList{

    }
    .footer{
        height: 50px !important;
    }
    .footer ul {
        width: 100% !important;

    }
    .footer ul li{
        margin-top: 0.5em !important;
        margin-inline: 1em !important;
    }
    .Brandlogo{
        display: none !important;
    }
}

@media(max-width: 815px){
    .delButtonList{
        width: 34px!important;
        height: 34px!important;
        margin-top: -7px !important;
    }
    #lateral ul li{
        padding: 5px !important;
    }
}
/*
DISENY DESKTOP MIDD
 */
@media (max-width: 1000px) {
    #main h2{
        text-align: left !important;
    }
    .delButtonList {
        font-size: 1em;
    }
}
/**
DISENY REGULAR DESKTOP
 */
@media (max-width: 1250px){
    #lateral{
        width: 30% !important;
    }
    #main{
        width: 69% !important;
    }
}
/*
BIG DESKTOP
 */

    /*
    CSS NORMAL
     */
#navegador{
    width: 100%;
    height: 150px;
    background-color: black;
    font-family: "BebasNeue", sans-serif;
    color: white;
}
#navegador img{
    float:left;
    height: 150px;
    width: 283px;
}
ul{
    display: block;
    list-style: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
}
nav ul li{
    font-size: 24px;
    display: inline-block;
    float:left;
    margin: 25px 25px 0 25px;
    line-height: 50px;
    cursor: pointer;
}
nav ul li:first-child{
    margin-left: 12em;
}
nav ul li:hover{
    background-color: #c2b1b1;
    box-shadow: 2px 2px 1px antiquewhite;
    border-radius: 10px;
    padding: 5px;
}

/*ASIDE*/
#lateral{
    height: 70vh;
    width: 18%;
    float: left;
    background-image: url("../img/asideBackground.png");
}
#lateral h3{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;
}

/*ASIDE BOTON HERRAMIENTAS*/
.toolSpace{
    float:left;
    width: 85%;
    background-color: #ac75eb;
    text-align: center;
    margin-top: 10px;
    margin-left: 20px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: 3px 3px 5px #ac75eb;
    border-radius: 10px;
}

.toolSpace h4{
    display: block;
    font-size: 25px;
    float: right;
    margin-top:5%;
    transition: all 400ms;
    margin-right: 25%;
    text-shadow: 1px 1px 1px black;
    overflow: hidden;
}

.toolSpace #gearImage{
    display: block;
    float: left;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-top: 5px;
    animation-name: rotate-gear;
    animation-duration:10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
/*@keyframes rotate-gear{
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
}*/
@media (max-width: 465px){
    #lateral h4{
        font-size: 1em!important;
    }
    .delButtonList{
        font-size: 15px!important;
        width: 10px!important;
        height: 10px!important;
    }
}

/*LISTA POST ONCLICK BOTON HERRAMIENTAS*/
#lateral ul{
    display: block;
    float: left;
    margin-top: 40px;

}
#lateral ul li{
    display: none;
    font-weight: bold;
    margin: 5px;
    color: whitesmoke;
    background-color: #c2b1b1;
    border-radius: 10px;
    padding: 10px;
}
.delButtonList {
    margin-left: 20px;
    margin-right: -12px;
    margin-top: -10px;
    float: right;
    visibility: hidden;
    font-size: 1.5em;
    text-align: center;
    background: red;
    width: 44px;
    height: 44px;
    border-radius: 10px;
}
#lateral ul li:hover .delButtonList{
    visibility: visible;
}
#lateral ul li:hover{
    color:white;
    background-color: black;
    cursor: pointer;
}
#formDivList form{
    float:left;
    display: inline-block;
    width: 80%;
    margin: 2em;
}

/*MAIN*/
#main{
    width: 80%;
    float: right;
}
#formDivtask{
    display: block;
    width: 100%;
    background-color: #c19aed;
}
#formDivtask form{
    display: inline-block;
    margin: 2em;
}

#APIbutton{
    float: right;
    margin: 2em;
}

#main h2{
    margin-top: 1em;
    border-top: 2px dashed black;
    border-bottom: 2px dashed black;
    text-align: left;
}
.editListButton{
    right: 50px;
    position: absolute;
    background-color: #ac75eb;
    font-size: 0.85em;
    font-weight: bold;
}

/*STYLES PARA LISTA DE TAREAS*/
#main li{
    background-color: #81a7e3;
    text-align: center;
    font-size: 2em;
    list-style-type: none;
}
.delButton {
    visibility: hidden;
    position: absolute;
    font-size: 0.9em;
    right: 0;
    background: red;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
#main .tarea:hover {
    background-color: #c19aed;
}

#main li:hover .delButton{
    visibility: visible;
}

#main input[type=checkbox]{
    margin-left: 1em;
    height: 0.7em;
    width: 0.7em;
}

/*FOOTER */
.footer{
    position: fixed;
    left:0;
    bottom:0;
    width: 100%;
    height: 100px;
    background-color: #5d8fde;
    color: white;
    text-align: center;
}
.footer ul{
    display: block;
    width: 80%;
    float: left;
}
.footer ul li{
    display: inline-block;
    margin-inline: 5em;
    margin-top: 1em;
    cursor: pointer;
}
.Brandlogo{
    height: 90px;
    width: 10%;
    margin-left: 2px;
    margin-top: 0;
    display: block;
    float: right;
}